#storage{
    background-color: lightgray;
}
.card-header{
    font-weight: bold;
}

label {
    font-weight: bold;
}

.jumbotron {

    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}