html, body{
    background-image: url(../images/train.jpg);
}

#secondDiv {
    background-color: rgb(80, 78, 78);
    color: white;
    text-align: center;
    align-content: center;
}

.card-header{
    font-weight: bold;
}

label {
    font-weight: bold;
}

#schedule-here{
    margin-bottom: 20px;

}