html, body{
    background-image: url(../images/train.jpg);
}

.jumbotron {
    background-color: rgb(142, 10, 10);
    /* color: white; */
    text-align: center;
    align-content: center;
}

.card-header{
    font-weight: bold;
}

label {
    font-weight: bold;
}

#schedule-here{
    margin-bottom: 20px;

}